jupyter==1.0.0
notebook==6.4.8
torch>=1.8.0
rdkit>=2022.03.4
scikit-learn>=0.24.2
networkx>=2.6.3
pandas>=2.1.0
tqdm
sweetviz
sqlalchemy==2.0.20
psycopg2==2.9.7
requests
numpy==1.24.4
shap
xgboost
seaborn
tensorflow
python-dotenv